/*---------------------- ACCORDION HEADER ----------------------*/
.accordion-header{
    p{
        font-size: 24px;
        pointer-events: none;
    }
    a{
        border: 2px solid $nero;
        padding: 18px 25px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .x-icon {
            transform: rotate(0deg);
            pointer-events: none;
            transition: transform .4s ease;
        }
        &.active{
            border-bottom: 2px solid transparent;
            .x-icon{
                transform: rotate(45deg); 
            }
        }

        img{
            height: 25px;
            width: 25px;
        }
    }
    &:nth-child(1){
        background-color: $blu;
    }
    &:nth-child(3){
        background-color: $verde;
        margin-top: 20px;
    }
    &:nth-child(5){
        background-color: $giallo;
        margin-top: 20px;
    }
}

/*---------------------- ACCORDION CONTENT ----------------------*/
.accordion-content-container{
    display: none;
    &.active{
        display: block;
        .accordion-content{
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.3s;
        }
    }
    .accordion-content{
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        padding: 0 25px 30px 25px;
        opacity: 0;
        .fasce-orarie{
            padding: 10px 0;
            h3{
                padding-top: 4px;
            }
            .luogo{
                font-size: 14px;
            }
        }
    }
    &#content-1{
        background-color: $blu;
    }
    &#content-2{
        background-color: $verde;
    }
    &#content-3{
        background-color: $giallo;
    }
}



// .accordion-toggle{
//     display: block;
// }


@keyframes fadeInOpacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



@media(min-width: 700px){
    .accordion-header a{
        padding: 50px;
    }
    .accordion-content-container .accordion-content{
        padding: 0 50px 50px 50px;
    }
}

@media(min-width: 1050px){
    .accordion-header {
        p {
            font-size: 35px;
        }
        #x-icon{
            width: 35px;
            height: auto;
        }
    }
    .accordion-content-container .accordion-content {
        .fasce-orarie {
            display: grid;
            grid-template-columns: 1fr 2.5fr 1fr;
            .orario span {
                display: block;
                font-size: 20px;
            }
            h3 {
                padding-top: 0;
                line-height: 24px;
            }
            .luogo{
                font-size: 18px;
            }
            p{
                font-size: 20px;
            }
            svg{
                justify-self: end;
            }
        }
    }
}