
.button-container{
    display: flex;
    justify-content: flex-end;
    a{
        background-color: transparent;
        font-size: 13px;
        line-height: 23px;
        border: 1.5px solid $nero;
        border-radius: 100px;
        padding: 4px;
        margin-top: 40px;
        transition: all .3s ease-in;
        &:hover{
            background-color: $nero;
            color: white;
        }
    }
}

@media (min-width: 1050px) {
    .button-container{
        padding-top: 20px;
        a {
            padding: 8px 15px;
            font-size: 22px;
            border: 2px solid $nero;
        }
    }
}