@font-face {
    font-family: 'Lunema';
    src: url('../dist/font/Lunema-ThinItalic.woff2') format('woff2'),
        url('../dist/font/Lunema-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lunema';
    src: url('../dist/font/Lunema-LightItalic.woff2') format('woff2'),
        url('../dist/font/Lunema-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lunema Ultra';
    src: url('../dist/font/Lunema-UltraBolditalic.woff2') format('woff2'),
        url('../dist/font/Lunema-UltraBolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lunema';
    src: url('../dist/font/Lunema-RegularItalic.woff2') format('woff2'),
        url('../dist/font/Lunema-RegularItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lunema';
    src: url('../dist/font/Lunema-Light.woff2') format('woff2'),
        url('../dist/font/Lunema-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lunema';
    src: url('../dist/font/Lunema-Thin.woff2') format('woff2'),
        url('../dist/font/Lunema-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lunema Ultra';
    src: url('../dist/font/Lunema-Ultrabold.woff2') format('woff2'),
        url('../dist/font/Lunema-Ultrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lunema';
    src: url('../dist/font/Lunema-BoldItalic.woff2') format('woff2'),
        url('../dist/font/Lunema-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lunema';
    src: url('../dist/font/Lunema-Regular.woff2') format('woff2'),
        url('../dist/font/Lunema-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lunema';
    src: url('../dist/font/Lunema-Bold.woff2') format('woff2'),
        url('../dist/font/Lunema-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

